@media screen
{
    .b-error
    {
        position: fixed;
        top:  0;
        left:  100px;

        width:  3em;
        padding:  10px;

        background: #fff;

        box-shadow: 1px 5px 5px;
        -webkit-box-shadow: 1px 5px 5px;
    }

    .b-error .b-link:visited
    {
        color:  #000 !important;
    }
}
