.b-story__title,
.b-story__author,
.b-story__chapter
{
    font-weight: normal;
    text-align: center;
}

.b-story__title
{
    font-size:  160%;
    padding-top:  2em;
}

.b-story__author
{
    font-size:  80%;
    margin-top:  0.5em;
}

.b-story__chapter
{
    font-size:  140%;

    margin-bottom: 1em;
    padding-top:  2em;
}

.b-story__text,
.b-story__error
{
    margin-bottom: 0.7em;

    text-indent: 2em;
}

@media screen
{

    .b-story
    {
        width: 750px;
        font-size: 20px;
        line-height:  2rem;

        margin: 0 auto;
        padding:  0 1.5em 1.5em;
    }

    .b-story_error_true
    {
        background: #ffccca;
    }

    .b-story__error
    {
        font-weight: bold;

        width:  100%;
        min-height: 10px;

        border: 1px solid red;
    }
}

@media print
{
    .b-story
    {
        font-family: Georgia, serif;
        font-size: 18px;
        line-height: 1.4em;
    }
}