@media screen
{
    @font-face {
        font-family: 'mignon-regular';
        src: url('/desktop.blocks/i-font/mignon/mignon-regular.eot');
        src: url('/desktop.blocks/i-font/mignon/mignon-regular.eot?#iefix') format('embedded-opentype'),
             url('/desktop.blocks/i-font/mignon/mignon-regular.woff') format('woff'),
             url('/desktop.blocks/i-font/mignon/mignon-regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    .b-page
    {
        font-family: Georgia, 'mignon-regular', serif;
        font-size: 100%;

        min-width: 900px;
        margin: 0;
        padding: 0 2em 2em;

        background: #fbfaf4;

        text-shadow: 0 1px #fff;
    }

    /**:target { background-color: red }*/

    ::selection
    {
        text-shadow: none !important;
        background: #b1d2fb;
    }
}